@model ClassLibrary.Models.POI

@{
    ViewBag.Title = ClassLibrary.Resources.Global.Validate;
}

<h2>@ClassLibrary.Resources.Global.Validate</h2>

<div>
    <h4>@ClassLibrary.Resources.Global.POI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS_Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS_Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConnectedPOIs)
        </dt>

        <dd>
        </dd>
        @{
            foreach (ClassLibrary.Models.POI connected in Model.ConnectedPOIs)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayName(connected.Name)
                </dd>
            }
        }
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hashtags)
        </dt>

        <dd>
        </dd>
        @{
            foreach (ClassLibrary.Models.Hashtag hash in Model.Hashtags)
            {
                <dt>
                    @Html.DisplayName(ClassLibrary.Resources.Hashtag.Text)
                </dt>

                <dd>
                    @Html.DisplayName(hash.Text)
                </dd>
            }
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input name="submit" type="submit" id="validate" value=@ClassLibrary.Resources.Global.Validate class="btn btn-default" /> |
            <input name="submit" type="submit" id="reject" value=@ClassLibrary.Resources.Global.Reject class="btn btn-default" />           
        </div>
    }
</div>
<div>
    @Html.ActionLink(ClassLibrary.Resources.Global.ReturnToList, "Index")
</div>